:root{
    --borderBlack: 1px solid rgb(0,0,0,0.1);
    --color_blue_btn: #0984e3;
    --color_red_btn: #cc1937;
    --bgColor_wrapper:#1b2426;
    --bgColor_container:#f7f7f7;
}


*{
    padding:0;
    margin:0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

html,body{
    font-size: 16px;
}



@media only screen and (max-device-width : 767px) {

    .container{
        width:100% !important;
    }

   
    /*nav_bar*/

   
    #menu_mobile_navbar{
        display: block;
        align-self: center;
        font-size: 3rem;
        margin-right: 1rem ;
    }



    .menu_navbar li {
        margin-bottom: 5rem;
    }


    .menu_hide{
        overflow: hidden;
        height: 0;
    }


    .menu_mobile_navbar_active{
        width: 100vw;
        height: 50%;
        flex-direction: column;
        background-color:rgba(0, 0, 0, 0.5);
        top: 0;
        margin-top: 75px;
        position: absolute;
        align-items: center;
        transition: height 0.5s ease-in;
        backdrop-filter: blur(2px);
    }

    



    /*page blog max-device-width-767px*/

    #posts{
        
        grid-template-columns:1fr !important;
        

    }

    #block_searchbar{
        flex-direction: column;
    }

    #searchbar{
        margin-right: 0;
        margin-bottom: 15px;
        width: inherit;
    }


    /*Page article max-device-width-767px*/

    .menu_comment{
        display: block !important;
        cursor:pointer;
        position: absolute;
        right: 2rem;
        bottom: 1rem;



    }


    .comment_article_card, .response_comment_card{
        position: relative;
    }

    .container_comment{
        display: block !important;
    }

    .menu_mobile_active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #f7f7f7aa;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        z-index: 100;
    }

    .menu_mobile_active form{
        margin-top: 1rem;
    }


    .btn_comment_end{
        display: none;
    }

    #comments{
        width:95% !important;
    }


    /*menu_admin_blog max-device-width-767px*/

    .admin{
        flex-direction: column;
    }

    .navbar_admin{
        position: relative;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        height: 5rem;
    }


    #list_menu_admin li{
        text-align: center;
    }   
    

    #menu_admin_mobile{
        align-self: center;
        margin-right: 1rem;
    }

    #menu_admin_mobile i{
        font-size: 2rem ;
    }
    

    .menu_admin_mobile{
        z-index: 40;
        height: auto;
        position: absolute;
        top: 0;
        width: 100%;
        margin-top: 4rem;
        border-left: var(--borderBlack);
        border-right: var(--borderBlack);
        border-bottom: var(--borderBlack);
    }



    /*page list article admin max-767px*/


    .panel_admin{
        margin-top: 3rem;
        margin: auto;
    }

    .btn_edit{
        text-align: center !important;
    }

    .panel_list_article{
        width: 70% !important;
       
    }

    .content_card{
        flex-direction: column;
        align-items: center;
    }


    .img_article{
        max-width:70% !important;
    }

    .content_card div{
        text-align: center;
    }

    

    #search_result,.list_btn_radio,.panel_admin .group_input{
        width: 100% !important;
    }


    /* search person API*/

    .container #block_searchbar{
        width: 70%;
        margin-left: auto;
        margin-right: auto;

    }

    .container #block_searchbar input{
        width: 100%;
    }

    /*page search person api 767px*/

    .info_person{
        flex-direction: column;
    }

    .info_img_person{
        width:80% !important;
        margin: auto;
    }

    .bio{
        width: 100% !important;
        margin-top: 3rem;
        margin-left: auto !important;
        margin-right: auto;
    }

    .movie_popular{
        grid-template-columns: repeat(2,1fr) !important;
    
    }

    .movies{
        width: 90% !important;
    }

    /* page search movie api 767px*/

    .container_movie_info{
        flex-direction: column-reverse;
        margin: auto !important;
    }

    .container_synopsis {
        margin-top: 2rem;
        width: 100% !important;
        text-align: justify;

    }

    .container_synopsis h3{
        text-align: center;
        margin-bottom: 1rem;
    }

    .container_details{
        align-self: center;
    }

    .container_casting{
        margin-top: 2rem;
    }

    .card_person{
        width: 60% !important;
    }

    .actors{
        grid-template-columns: repeat(2, 1fr) !important;
        grid-column-gap: 1rem;
    }

    .actors .card_person{
        width: 100% !important;
    }

    .container_poster_movie{
        width: 80% !important;
        margin: auto;
    }

    .header_movie_info{
        flex-direction: column;
    }

    .container_title_movie{
        margin-top: 2rem;
        padding-left: 0 !important;
    }


    /*form inscription et login*/

    .block_form{
        width: 90% !important;
    }

    #card_404{
        width: 90% !important;
    }
}



    .navbar_admin{
        border: var(--borderBlack);
    }

    



@media only screen and (max-device-width: 1024px){

    .input_form{
        flex-direction: column;
    }

    .input_form label{
        align-self: center;
    }
    
}

@media only screen and (min-device-width: 768px){


    /*navbar*/

    #menu_mobile_navbar{
        display: none;
    }


    .menu_navbar_large_screen{
        align-items: center;
    }

    .menu_navbar_large_screen li{
        margin-right: 2rem;
    }

    .menu_navbar{
        margin-bottom: 0;
    }

    /*menu_admin*/

    .navbar_admin{
        height: fit-content;
        margin-top: 1rem;
        margin-left: 1rem;
        justify-content: flex-start;
        width:fit-content;
    }

    #menu_admin_mobile{
        display: none;
    }
    
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1279px){
        
    #posts{
        
        grid-template-columns:1fr 1fr !important;
        

    }

    .container{
        width:100% !important;
    }
}



.content_article img{
    max-width: 100% !important;
    height: auto;
}

.content_article iframe, #current_img{
    max-width: 100%;
}






.wrapper{
    background-color: var(--bgColor_wrapper);
    min-height:100vh;
}


.container{
    min-height:100vh;
    width:70%;
    padding-top: 70px;
    margin: auto;
    background-color: var(--bgColor_container);
}


#pagination{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#pagination a{
    margin: auto;
}



h1{
    text-align: center;
    margin: 0;
    font-weight: bold;
    line-height: normal;
}


input,textarea{
    display: block;
}

textarea{
    width: 100%;
    height: 5rem;
    padding: 1rem;
}

button{
    border:0;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    cursor:pointer;
    color:white;
}

.button-blue{
    background-color:var(--color_blue_btn);
}

.button-red{
    background-color: var(--color_red_btn);
}

input[type="file"]{
    border: none !important;
    margin: auto;
}

.input_form{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.input_form input{
    border-radius: 20px;
    padding: 7px;
    border:1px solid black;
}

.input_form label{
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

textarea:focus,input:focus{
    outline:0;
    border:1px solid var(--color_blue_btn);
}


.btn_form_center{
    text-align: center;
    margin-top: 15px;
}


/*header home*/




header{
    color: white;
}

#header-wrapper{
    background-image: url("images/salle_de_cinema.jpg");
    background-size:cover;
    height: 100vh;
}

#chevron {
    text-align: center;
    animation: slide_down 2s infinite;
    font-size: 3rem;
    color:white;
    cursor: pointer;
}

.intro_blog{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.intro_blog p{
    text-align: center;
}


@keyframes slide_down{
    0%{
        transform:translateY(0px);
    }

    50%{
        transform: translateY(15px);
    }

    0%{
        transform:translateY(0px);
    }
}

#posts a{
    color:black;
}

/* nav_bar */

#photo_navbar{
    margin-right: 5px;
    vertical-align: middle;
}

.nav_bar{
    background-color:rgba(0, 0, 0, 0.5);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    height: 75px;
}



nav{
    color: white;
}


        

.menu_navbar{
    display: flex;
    z-index: 50;
}




.nav_bar  a{
    align-self: center;
    cursor: pointer;
    color: white;
}

.link_blog{
    min-width: 3rem;
    width:4rem;
    margin-left: 2rem;
}


.logo{
    width: 100%;
 
}


/*blog*/

#blog{
    background-color: #f2f2f2;
    padding:3rem;
}

#posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem ;
    grid-row-gap: 1rem ;
}

.img_bg{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    
}


#block_searchbar{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}



.searchbar_movie{
    padding: 15px 20px;
    border-radius: 5px;
    width: 25%;
    border: rgba(0, 0, 0, 0.2) 0.5px solid;
    margin-right: 15px;
}

#block_searchbar input[type="submit"]{
    padding: 5px;
}


#posts button:hover{
    box-shadow: 5px 2px 9px black;
}

#posts article{
    border: var(--borderBlack);
    padding: 1rem;
    height:min-content;
    transition: transform .1s;
    background-color: #f7f7f7;
}


#posts article:hover{
    transform: scale(1.05);
    box-shadow: 5px 2px 9px black;
}

#posts .post{
    position: relative;
}

#posts h1{
    padding:1rem;
    text-align: center;
    text-transform: uppercase;
}

article p{
    line-height: 1.7rem;
}

#posts .title_post{
    position: absolute;
    bottom:3px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

#posts img{
    width: 100%;
    height: auto;
}

.post_infos{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(160, 154, 154);
    border-top: 1px solid rgb(160, 154, 154);
    margin:10px 0;
    padding: 3px 0;
}

#posts p{
    text-align: justify;
    margin-bottom: 1rem;
}




/*Page 404*/

#page_404{
   
    background-color: #f7f7f7;
    height: 100vh;
}

#card_404 img {
    width: 10%;
    height:auto;
} 

#card_404 button{
    margin-top:1rem;
}

#card_404{
    text-align: center;
    padding: 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:auto;
    width: 40%;
	box-shadow: 0px 0px 21px -1px #2B1D1D;
    background-color: white;
}


/*Page article*/

.menu_comment{
    display: none;
}


article{
    padding:3rem;
}

.author{
    text-align: end;
    font-style: italic;
}

#main_article{
    width:70%;
    margin: auto;
    background-color: #f7f7f7;
}

.title_article{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.content_article{
    margin-top: 3rem;
}


#comments{
    width:70%;
    margin: auto;
    padding-bottom: 5rem;
}

#load_comments_msg{
    padding-top: 2rem;
    text-align: center;
}


#form_comment{
    margin-top:1rem;
}


#form_comment #comment_area{
    max-width: 100%;
    max-width: -moz-available;          
    max-width: -webkit-fill-available;  
    max-width: fill-available;
    margin: auto;
    padding: 1rem;
    border:var(--borderBlack);
    border-radius: 2rem;
}

#btn_form{
    margin-top: 1rem;
    text-align: end;
}


.photo_profil{
    width: 70px;
    height:70px;
    clip-path: circle();
}


#close_form{
    display: none;
}


.comment_article_card, .response_comment_card{
    
    margin-top: 2rem ;
    background-color:#fff;
    padding:1rem;
    box-shadow: 0rem 0rem 2rem -0.5rem #2B1D1D;
}


.response_comment_card{
    margin-left: 4rem;
}

.user{
    text-align: center;
}

.comment{
    padding: 15px;
}

.container_comment{
    display: flex;
    margin-bottom: 2rem;
}

.btn_comment_end{
    text-align: end;
}

.btn_comment_end button:first-of-type{
    margin-right:1rem;
} 

.delete_comment, .approve_comment{
    display: inline-block;
}



/*Page inscription*/

.inscription h1{
    text-align: center;
}

.inscription{
    transform: translateY(50%);
    width:30%;
    margin:auto;
}


.invalid{
    color:red;
}

.valid{
    color:green;
}

#message_password{
    margin-top: 15px;
}

#response{
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    display: none;
    margin-top: 1rem;
}

.error{
    background-color: #f8d7da;
    color:#721c24;
}

.message{
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    margin-top: 1rem;
}

.success{
    background-color: #d4edda;
    color:#155724;
}

.confirm_inscription{
    text-align: center;
    position: relative;
    top:40%;
}

.block_form{
    padding-top: 10rem;
    width:30%;
    margin:auto;
    text-align: center;
}

/*User_setting*/


#photo{
    display: none;
}

.setting{
    width:70%;
    margin: auto;
    text-align: center;
    padding-top:3rem;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.setting form{
    width: 80%;
    margin: auto;
}

.setting button{
    margin: auto;
}


.message_fixed{
    display: none;
    position: fixed;
    width:60%;
    top: 15px;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    z-index: 900;
}

/*Admin_blog*/

.admin{
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
}

.panel_admin{
    width:90%;
    padding: 1rem;
    
}

.panel_admin input[type="text"]{
    width: 100%;
}


.group_input{
    width:70%;
    margin: 15px auto;
}

.btn_form{
    text-align: center;
    margin-top: 30px;
}

label[for="image_article"],label[for="photo"]{
    border:0;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    cursor:pointer;
    color:white;
    background-color:var(--color_blue_btn);
}

label[for="photo"]{
    margin: auto;
}



.article_card{
    margin-bottom: 20px;
    border: #f7f7f7 solid 1px;
    padding: 5px;
    box-shadow: 0px 0px 21px -1px #2b1d1d;

}

.article_card img{
    max-width:30%;
}

.btn_edit{
    text-align: end;
}


.content_card{
    display: flex;
}

.content_card_article{
    margin-left: 10px;
}

.info_article{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#image_article{
    display: none;
}

.img_600{
    max-width: 600px;
    height: auto;
}

#prev_image_block{
    margin-top:15px;
    text-align: center;
}


#prev_image_block img{
    max-width: 100%;
    margin: auto;
}

/*menu_admin_blog*/

#list_menu_admin{
    background-color: #f7f7f7;
}

#list_menu_admin a{
    display: block;
    padding: 2rem;
   
}

#list_menu_admin li:hover{
    cursor: pointer;
    background-color: #1b2426;
}

#list_menu_admin li:hover a{
    color:white;
}

.navbar_admin{
    background-color: #f7f7f7; 
}



#search_result{
    display: none;
    margin: auto;
    width: 40%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
    max-height: 200px;
}

.search{
    width: 75%;
    margin: 25px auto;
}




.select_user{
    cursor: pointer;
    padding: 5px;
}

.select_user:hover{
    background-color: #eeeeee;

}


/* user_admin */

#photo_user{
    max-width: 20vw;

}

#user_info{
    text-align: center;
    display: none;
}


#forms{
    text-align: center;
    display: none;
}

#forms form{
    margin-top: 35px;
}

#forms button{
    margin-top: 10px;
}

#cke_message_user{
    margin-top: 15px;
}


.report_comment{
    display: inline-block;
}

input[type="radio"].type_user {
    display: none;
}

input[type="radio"].type_user:checked + label {
padding: 10px;
background-color: var(--color_blue_btn);
color:white;
border-radius:10px;
}

input[type="radio"].type_user + label {
cursor: pointer;
}

.list_btn_radio{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 15px auto;
    
}

.list_btn_radio > label{
    margin-top: 5px;
}



/*result page api*/

.card_result{
    width:70%;
    margin: auto;
    display: flex;
    margin-bottom: 30px;
}

.info_result{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_profile_result{
    width:90px;
    height: 90px;
}

.name_result a{
    cursor: pointer;
    font-weight: bold;
}


.header_movie{
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    top:-70px;
    z-index: 1;
}

.filter_header_movie{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    padding: 50px;
}

.poster_movie{
    width:100%;

}

.container_poster_movie{
    width: 20%;
}

.header_movie_info{
    display: flex;
}

.title_movie{
    
    text-transform: uppercase;
}

.container_synopsis{
    width:70%;
    margin-right: 15px;
}

.container_title_movie{
    align-self: center;
    padding-left: 5%;
    color: white !important;
}

.container_movie_info{
    display: flex;
    justify-content: space-between;
    padding:15px !important;
    width: 80%;
    margin: 50px auto;
    line-height: 1.5rem;
    

}

.card_info{
    border: var(--borderBlack);
    padding: 5px;
    background-color:white;
    box-shadow: 1px 2px 20px black ;
}

.card_person{
    width:15%;
    margin: auto;
}

.card_person img{
    width:100%;
}

.director{
    margin: auto;
}


.actors{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1rem;
    margin-top: 50px;
    padding-bottom: 50px;
}


 .actors .card_info{
    width:80%;
}


.text-bold{
    font-weight:bold ;
}

.trailer{
    padding-top: 25px;

}

.play_trailer{
    font-size: 2rem;
    margin-left: 10px;
    vertical-align: middle;
    color:white;
    
}

#trailer{
    color: white;
    cursor: pointer;
}

#trailer_iframe{
    
    position: absolute;
    top: 50%;
    left: 50%;
    width:80%;
    height: 80%;
    border:0;
    transform: translate(-50%, -50%);
}

#trailer_embed{
    display: none;
}

#close_video{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    cursor: pointer;
}



.img_person img{
    width: 100%;
}


.info_person_list{
    line-height: 1.5rem;
}

.character{
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.character > p:first-child{
    margin-bottom: 5px;
}

.info_person{
    padding: 15px;
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

.info_img_person{
    width: 20%;
}

.bio{
    width: 70%;
    text-align: justify;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.bio h2{
    text-align: center;
    margin-bottom:2rem;
}



.movie_popular{
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-row-gap: 1rem;
   grid-column-gap: 1rem;
   margin-top: 3rem;
   
}


.card_movie img{
    width:100%;
}

.list_movie_popular{
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: flex-start;
    width: auto;
}

.movies{
    width: 60%;
    margin: auto;
}

.list_movies{
    margin-top: 50px;
    line-height: 2rem;
}

#controle_img_msg{
    display: block;
    margin-top: 15px;
    text-align: center;
}


/*footer*/

footer{
    padding: 2rem;
    background-color: #1b2426;
    color:white;
}

footer p{
    text-align: center;
}