*{
    padding:0;
    margin:0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

input,textarea{
    display: block;
}

button{
    background-color: #0984e3;
    border:0;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    cursor:pointer;
    color:white;
}

.input_form{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input_form input{
    border-radius: 20px;
    padding: 7px;
    border:1px solid black;
}

.input_form label{
    display: flex;
    align-items: center;
}

textarea:focus,input:focus{
    outline:0;
    border:1px solid #0984e3;
}

.height_all{
    height:100vh;
}

.btn_comment_end{
    text-align: end;
}

.btn_form_center{
    text-align: center;
    margin-top: 15px;
}


/*header*/
header{
    color: white;
}

#header-wrapper{
    background-image: url("images/salle_de_cinema.jpg");
    background-size:cover;
    height: 100vh;
}

header nav{
    background-color:rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li{
    margin-right: 1rem;
}

header h1{
    position: absolute;
    bottom: 40%; left: 50%;
    transform: translate(-50%, -50%);
}


header a{
    color:white;
}

#chevron i{
    text-align: center;
    animation: slide_down 2s infinite;
    font-size: 3rem;
}

.intro_blog{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.intro_blog p{
    text-align: center;
}


@keyframes slide_down{
    0%{
        transform:translateY(0px);
    }

    50%{
        transform: translateY(15px);
    }

    0%{
        transform:translateY(0px);
    }
}


/*blog*/

#blog{
    background-color: #f2f2f2;
    padding:3rem;
}

#posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem ;
    grid-row-gap: 1rem ;
}



#posts button:hover{
    box-shadow: 5px 2px 9px black;
}

#posts article{
    border: 1px solid rgb(160, 154, 154);
    padding: 1rem;
    border-radius: 2%;
    height:min-content;
}


#posts .post{
    position: relative;
}

#posts h1{
    padding:1rem;
    color: white;
}

#posts .title_post{
    position: absolute;
    bottom:3px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

#posts img{
    width: 100%;
    height: auto;
}

.post_infos{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(160, 154, 154);
    border-top: 1px solid rgb(160, 154, 154);
    margin:10px 0;
    padding: 3px 0;
}

#posts p{
    text-align: justify;
    margin-bottom: 1rem;
}

/* page article */

article{
    padding:3rem;
}


/*Page 404*/

#page_404{
   
    background-color: #f7f7f7;
    height: 100vh;
}

#card_404 img {
    width: 10%;
    height:auto;
} 

#card_404 button{
    margin-top:1rem;
}

#card_404{
    text-align: center;
    padding: 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:auto;
    width: 40%;
	box-shadow: 0px 0px 21px -1px #2B1D1D;
    background-color: white;
}


/*Page article*/

.wrapper{
    background-color: #1b2426;
}


.container{
    width:70%;
    margin: auto;
    background-color: #f7f7f7;
}

#main_article{
    width:70%;
    margin: auto;
    background-color: #f7f7f7;
}

.title_article{
    text-align: center;
    margin-bottom: 25px;
}

.content_article{
    margin-top: 30px;
}

.image_article{
    width:100%;
    height: auto;
}

#comments{
    width:70%;
    margin: auto;
}


#form_comment{
    margin-top:1rem;
}


#form_comment #comment_area{
    width:95%;
    margin: auto;
    padding: 15px;
    border:none;
    border-radius: 20px;
}

#btn_form{
    margin-top: 15px;
    text-align: end;
}

#close_form{
    display: none;
}



.comment_article_card, .response_comment_card{
    
    margin-top: 30px ;
    background-color:#fff;
    padding:15px;
    box-shadow: 0px 0px 21px -1px #2B1D1D;
}

#comments img{
    max-width: 3.5rem;
    max-height: 3.5rem;
    border-radius: 50%;
}

.comment{
    padding:15px;
}

.response_comment_card{
    margin-left: 90px;
}

.user{
    text-align: center;
}

.comment{
    width: 100%;
}

.container_comment{
    display: flex;
}



.btn_response{
    margin-right: 10px;
}

/*Page inscription*/

.inscription h1{
    text-align: center;
}

.inscription{
    transform: translateY(50%);
}

#form_inscription{
    width: 30%;
    margin:auto;
}

.invalid{
    color:red;
}

.valid{
    color:green;
}

#message_password{
    margin-top: 15px;
}

