*{
    padding:0;
    margin:0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    color:white;
}

/*header*/

#header-wrapper{
    background-image: url("images/bg.jpg");
    background-size:cover;
    height: 100vh;
}

header nav{
    background-color:rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li{
    margin-right: 1rem;
}

header h1{
    position: absolute;
    bottom: 40%; left: 50%;
    transform: translate(-50%, -50%);
}


header a{
    color:white;
}

#chevron i{
    text-align: center;
    animation: slide_down 2s infinite;
    font-size: 3rem;
}

.intro_blog{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.intro_blog p{
    text-align: center;
}


@keyframes slide_down{
    0%{
        transform:translateY(0px);
    }

    50%{
        transform: translateY(15px);
    }

    0%{
        transform:translateY(0px);
    }
}
