{% extends "Layout.twig" %}

{% block title %}
    <title>Page non trouvée</title>
{% endblock %}


{% block content %}

{% include ("Nav_bar.twig") %}

<div id="page_404">
    <div id="card_404">
        <img src="{{URL_IMG}}popcorn.png" alt="popcorn"/>
        {% if message_exception %}

            <p>{{message_exception}}</p>

            {% else %}

                <p>Page non trouvée</p>

        {% endif %}
        <a href="{{URL}}" class="link_blue">Accueil</a>
    </div>
</div>
{% endblock %}