{% extends "Layout.twig" %}

{% block title %}
    <title>Page non trouvée</title>
{% endblock %}


{% block content %}

{% include ("Nav_bar.twig") %}

<div id="page_404">
    <div id="card_404">
        <img src="{{URL_IMG}}popcorn" alt="pop_corn"/>
        <p>Page non trouvée</p>
        <a href="{{URL}}"><button class="button-blue">Accueil</button></a>
    </div>
</div>
{% endblock %}