{% extends "Layout.twig" %}

{% block title %}
    <title>Page non trouvée</title>
{% endblock %}


{% block content %}
<div id="page_404">
    <div id="card_404">
        <img src="../Public/images/popcorn" alt="pop_corn"/>
        <p>Page non trouvée</p>
        <a href=""><button>Accueil</button></a>
    </div>
</div>
{% endblock %}