{% extends "Layout.twig" %}


{% block title %}
    <title>Titre article</title>
{% endblock %}



{% block description %}
    <meta name="description" content=""/>
{% endblock %}



{% block content %}




{% endblock %}