
{% extends "Layout.twig" %}


{% block title %}
    <title>Blog - Accueil</title>
{% endblock %}

{% block description %}
    <meta name="description" content=""/>
{% endblock %}

{% block content %}

    <header>
        
        <div id="header-wrapper">
            <nav>
                <ul>
                    <li><a href="#">FORUM</a></li>
                    <li><a href="#">SE CONNECTER</a></li>
                </ul>
            </nav>

            <h1>TITRE</h1>

            <div class="intro_blog">
                <p>BLOG</p>
                <a href="#" id="chevron"><i class="fa fa-chevron-down"></i></a>
            </div>
            
        
        </div>
    </header>

    <section id="blog">
    
        <div></div>
    </sction>

    
{% endblock %}