
{% extends "Layout.twig" %}


{% block title %}
    <title>Blog - Accueil</title>
{% endblock %}

{% block description %}
    <meta name="description" content=""/>
{% endblock %}

{% block content %}
    <h1>Blog</h1>
    <p>{{titre}}</p>
{% endblock %}