
{% extends "Layout.twig" %}


{% block title %}
    <title>Blog - Accueil</title>
{% endblock %}

{% block description %}
    <meta name="description" content=""/>
{% endblock %}

{% block content %}

    <header>
        
        <div id="header-wrapper">
            <nav>
                <ul>
                    <li><a href="{{URL}}inscription">S'INSCRIRE</a></li>
                    <li><a href="#">SE CONNECTER</a></li>
                </ul>
            </nav>

            <h1>TITRE</h1>

            <div class="intro_blog">
                <p>BLOG</p>
                <a href="#" id="chevron"><i class="fa fa-chevron-down"></i></a>
            </div>
            
        
        </div>
    </header>

    <section id="blog">

        <div id="posts">
            <article>
                <div class="post">
                    <img src="https://img.freepik.com/photos-gratuite/gros-plan-belle-fleur-daisy-oxeye_181624-11106.jpg?size=626&ext=jpg&ga=GA1.2.1356500412.1617148800" alt=""/>
                    <div class="title_post">
                        <h1>Titre de l'article</h1>
                    </div>
                </div>
                <div class="post_infos">
                    <span><i class="fa fa-user"></i> Auteur</span>
                    <span><i class="fa fa-calendar"></i> 12/01/21</span>
                    <span><i class="fa fa-comments"></i> 3</span>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="#"><button>Lire l'article</button></a>
            </article>
        </div>
    </section>

    
{% endblock %}