{% extends "Layout.twig" %}


{% block title %}
    <title>Confirmation</title>
{% endblock %}




{% block content %}

    {% include ("Nav_bar.twig") %}
            <div class="wrapper">
                <div class="container">
                    <div class="confirm_inscription">
                        <p>Vous êtes maintenant inscrit</p>
                        <p><a href="{{URL}}login">Se connecter</a></p>
                    </div>
                </div>
            </div>

{% endblock %}