{% extends "Layout.twig" %}


{% block title %}
    <title>Confirmation nouvelle adresse email</title>
{% endblock %}




{% block content %}
            
            <div class="wrapper">
            {% include("Nav_bar.twig") %}
                <div class="container">
                    <div class="confirm_inscription">
                        <p>Votre nouvelle adresse email est validée</p>
                        <p><a href="{{URL}}login">Se connecter</a></p>
                    </div>
                </div>
            </div>

{% endblock %}