{% extends "admin_blog.twig" %}

{% block title %}

    <title>Créer un article</title>

{% endblock %}

{% block description %}

    <meta name="description" content=""/>

{% endblock %}

{% block admin %}

    <h1>Rédiger un article</h1>

    <form method="post" action="">

        <div class="group_input">

            <div class="input_form">
                <input type="text" name="title_article" id="title_article" placeholder="Titre de l'article" required/>
            </div>

            <div class="btn_form">
                <label for="image_article">Selectionner une image</label>
                <input type="file" name="image_article" id="image_article"/>
            </div>

            <div class="prev_image">

                <img src="" id="prev_image"/>

            </div>

        </div>

        <textarea id="article"></textarea>

        <div class="btn_form">
            <button type="submit" class="button-blue">Publier l'article</button>
        </div>

    </form>

{% endblock %}

{% block script %}
    <script src="//cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <script src="{{URL}}Public/js/CKEditor.js"></script>
    <script src="{{URL}}Public/js/image_create_article.js"></script>
{% endblock %}