{% extends "Layout.twig" %}

{% block title %}
    <title>Erreur</title>
{% endblock %}


{% block content %}
<div id="page_404">
    <div id="card_404">
        <img src="../Public/images/popcorn" alt="pop_corn"/>
        <p>{{message_exception}}</p>
        <a href="{{URL}}"><button>Accueil</button></a>
    </div>
</div>
{% endblock %}