{% extends "Layout.twig" %}


{% block title %}
    <title>Mot de passe oublié</title>
{% endblock %}



{% block description %}
    <meta name="description" content=""/>
{% endblock %}





{% block content %}

    <div class="wrapper">
    {% include ("Nav_bar.twig") %}
        <div class="container">

            <div class="block_form">
                <h1>Mot de passe oublié</h1>

                <form action="{{URL}}password_forgot" method="POST">

                    <div class="input_form">
                        <label for="email">EMail</label>
                        <input type="email" id="email" name="email" required/>
                    </div>

                    <div class="btn_form_center">
                            <button type="submit" class="button-blue" name="form_submit">Valider</button>
                    </div>

                </form>

                {% if session.flash.response %}
                    <p class="message {{session.flash.response.attribute}}">{{session.flash.response.message}}</p>
                {% endif %}
            </div>
        
        </div>
    
    </div>
{% endblock %}

