<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  {% block title %}
  {% endblock %}
  {% block description %}
  {% endblock %}
  <link rel="stylesheet" href="../Public/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>