<!doctype html>
  <html lang="fr">

    <head>
      <meta charset="utf-8">

      {% block title %}
      {% endblock %}
      
      {% block description %}
      {% endblock %}

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script defer src="{{URL}}Public/js/navbar_mobile.js"></script>
      
      {% block script %}
        
      {% endblock %}
      
      <link rel="stylesheet" href="{{URL}}Public/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    
        {% block content %}
          
        
        {% endblock %}
    </body>
  </html>