{% extends "Layout.twig" %}


{% block title %}
    <title>javascript désactivé</title>
{% endblock %}



{% block description %}
    <meta name="description" content=""/>
{% endblock %}



{% block content %}

{% include ("Nav_bar.twig") %}

    <div id="page_404">
        <div id="card_404">
            <img src="{{URL_IMG}}popcorn" alt="pop_corn"/>
            <p>Cette page a besoin de javascript pour fonctionner correctement</p>
            <a href="{{URL}}" class="link_blue">Accueil</a>
        </div>
    </div>

{% endblock %}